.desktop .navbar {
    max-height: 5%;
}

.desktop .navbar_wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    background-color: #0e0d00;
}

.desktop #navbar_logo {
    cursor: pointer;
    width: 20%;
    min-width: 50px;
    max-width: 80px;
}

.desktop #navbar_logo .logo {
    height: 100%;
    width: 100%;
}

.desktop .menu {
    display: none;
    order: 3;
}

.desktop .pages_wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500;
    font-size: 1.2rem;
}

.desktop .pages_wrapper .pages {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop .pages_wrapper  .pages:hover .pages_links {
    color: yellow;
}

.desktop .pages_wrapper  .pages .pages_links {
    text-decoration: none;
    padding: 25px 30px;
    font-size: larger;
    font-weight: 500;
    color: white;
}

.desktop .contact_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop .contact {
    width: 500px;
    height: 500px;
    background-color: #0e0d00;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 0 0 20px 5px grey;
}

.desktop .contact h1 {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font: 500;
}

.desktop .contact_details {
    display: flex;
    flex-direction: column;
}

.desktop .contact_details h2 {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font: 500;
}

.desktop .contact_details address p {
    color: white;
    font: 500;
    padding: 10px;
}

.desktop .contact_details address p a {
    text-decoration: none;
}

.desktop .contact_details address p a:hover {
    text-decoration: underline;
}

.desktop .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    align-self: center;
    margin: auto;
}

.desktop .map h2 {
    padding: 20px 0px;
}



@media (max-width: 700px) {

    .active {
        color: yellow !important;
        border-bottom: none
    }

    .desktop .menu_items {
        display: block;
    }

    .desktop .navbar_wrapper {
        justify-content: space-between;
    }

    .desktop .menu {
        cursor: pointer;
        width: 70px;
        max-width: 60px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .desktop .menu_items {
        background-color: yellow;
        margin: 2px 0px;
        width: auto;
        height: 8px;
        border-radius: 10%;
    }

    .desktop .pages_wrapper {
        border-top: 1px solid yellow;
        border-radius: 0% 0% 10% 10%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        min-width: fit-content;
        width: 50%;
        top: 100%;
        right: 2%;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-transform: uppercase;
        min-height: 300px;
        box-shadow:
            -4px 0 6px -2px grey,
            4px 0 6px -2px grey,
            0 4px 6px -2px grey;
    }

    .desktop .pages_wrapper.open {
        display: flex;
    }
}