.desktop .navbar {
    max-height: 5%;
}

.desktop .hidden {
    display: flex !important;
}

.desktop .navbar_wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.895);
}

.desktop #navbar_logo {
    cursor: pointer;
    width: 20%;
    min-width: 50px;
    max-width: 80px;
}

.desktop #navbar_logo .logo {
    height: 100%;
    width: 100%;
}

.desktop .menu {
    display: none;
    order: 3;
}

.desktop .pages_wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500;
    font-size: 1.2rem;
}

.desktop .pages_wrapper .pages {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop .pages_wrapper .pages:hover .pages_links{
    color: yellow;
}

.desktop .pages_wrapper .pages .pages_links {
    text-decoration: none;
    padding:25px 30px;
    font-size: larger;
    font-weight: 500;
    color: white;
}


@media (max-width: 700px){
    .desktop .menu_items {
        display: block;
    }   
    
    .desktop .hidden {
        display: none !important;
    }

    .desktop .navbar_wrapper {
    justify-content: space-between;
}
    .desktop .menu {
     cursor: pointer;
     margin: auto 2%;
     order: 3;
     width: 15%;
     max-width: 80px;
     height: 50px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
    }

    .desktop .menu_items {
    background-color:yellow;
    margin: 2px 5px;
    width:auto;
    height: 8px;
    border-radius: 10%;
    }

    .desktop .pages_wrapper {
    border-top: 1px solid yellow;
    background-color: rgba(0, 0, 0, 0.895);
    align-self: center;
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    min-height: 300px;
}
}