* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style: none;
}

body {
    background-color: #141300;
}

.hidden {
    display: none !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.895);
  color: white;
  padding: 1rem;
  text-align: center;
}

.active {
    border-bottom: 3px solid yellow;
}