* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style: none;
}

body {
    background-color: #141300;
}

header {
    background-color: #0e0d00;
    height: 84px;
    max-height: 84px;
    position: fixed;
    z-index: 999;
}

main {
    padding-top: 84px;
    padding-bottom: 60px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    max-height: 60px;
    background-color: #0e0d00;
    color: white;
    padding: 1rem;
    text-align: center;
}

.hidden {
    display: none !important;
}

.active {
    border-bottom: 3px solid yellow;
}

.tablet .active {
    color: yellow !important;
    border-bottom: none
}

.mobile .active {
    color: yellow !important;
    border-bottom: none
}