.tablet .navbar {
    max-height: 5%;
}


.tablet .navbar_wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #0e0d00;
}

.tablet #navbar_logo {
    cursor: pointer;
    width: 20%;
    max-width: 80px;
    height: max-height;
}

.tablet #navbar_logo .logo {
    height: 100%;
    width: 100%;
}

    .tablet .menu {
        cursor: pointer;
        width: 60px;
        max-width: 80px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

.tablet .menu_items {
    background-color: yellow;
    margin: 2px 0px;
    width: auto;
    height: 8px;
    border-radius: 10%;
}

.tablet .pages_wrapper {
    border-top: 1px solid yellow;
    border-radius: 0% 0% 10% 10%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 50%;
    top: 100%;
    right: 2%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    min-height: 300px;
    box-shadow:
        -4px 0 6px -2px grey,
        4px 0 6px -2px grey,
        0 4px 6px -2px grey;
}

.tablet .pages_wrapper .pages {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    height: 50px;

}

.tablet .pages_wrapper .pages:hover .pages_links {
    color: yellow;
}

.tablet .pages_wrapper .pages .pages_links {
    padding: 0 30px;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: white;
}

.tablet .contact_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet .contact {
    width: 500px;
    height: 500px;
    background-color: #0e0d00;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 0 0 20px 5px grey;
}

.tablet .contact h1 {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font: 500;
}

.tablet .contact_details {
    display: flex;
    flex-direction: column;
}

.tablet .contact_details h2 {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font: 500;
}

.tablet .contact_details address p {
    color: white;
    font: 500;
    padding: 10px;
}

.tablet .contact_details address p a {
    text-decoration: none;
}

.tablet .contact_details address p a:hover {
    text-decoration: underline;
}

.tablet .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    align-self: center;
    margin: auto;
}

.tablet .map h2 {
    padding: 20px 0px;
}

.tablet .slideshow {
    width: 100%;
    height: 30vh;
    position: relative;
    overflow: hidden;
}

.tablet.landscape .slideshow {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.tablet .slideshow_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.tablet .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.tablet .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform 6s linear;
}

.tablet .slide.current {
    opacity: 1;
}

.tablet .slide.current img {
    transform: scale(1);
}

.tablet .move {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}

.tablet .move.prev {
    left: 10px;
}

.tablet .move.next {
    right: 10px;
}

.tablet .dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tablet .dot {
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.tablet .dot.current {
    background: white;
}

.tablet .card_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tablet.landscape .slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
  justify-content: center;
  gap: 40px;
  padding: 20px 40px;
}

.tablet.landscape .card_wrapper {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 12px;
  border:2px solid #2f2f2f;
  box-shadow:  0 10px 30px black;;
  transition: transform 0.3s ease;
}


.tablet.portrait .cards {
    overflow: hidden;
}

.tablet.portrait .slider {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 50px 20px;
    scrollbar-width: none;
}

.tablet.portrait .slider::-webkit-scrollbar {
    display: none;
}

.tablet.portrait .card_wrapper{
    flex: 0 0 60%;
    max-width: 60%;
    height: 300px;
    scroll-snap-align: center;
    border-radius: 12px;
    border: 2px solid #2f2f2f;
    box-shadow: 0 10px 30px black;
    overflow: hidden;
}

.tablet section.mission h1,
.tablet section.story h1,
.tablet section.goals h1 {
  color: white;
  font: 500;
  width: max-content;
  margin: 2% auto;
}

.tablet .aboutus_wrapper {
  padding: 1%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80%;
}

.tablet p.info {
  color: white;
  font: 500;
  font-size: 1.4rem;
  min-width: 400px;
  max-width: 30%;
}

.tablet .side_images {
  aspect-ratio: 1 / 1;
  width: 30%;
  min-width: 400px;
  min-height: 400px;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid #2f2f2f;
  box-shadow: 0 10px 30px black;
}

.tablet .pictures {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tablet .casino {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tablet .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  width: 80%;
  height: 80%;
  border: 2px solid ghostwhite;
  padding: 5px;
  gap: 5px;
}

.tablet.landscape .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  min-width: 400px;
  min-height: 400px;
  width: 45%;
  height: 45%;
  border: 2px solid ghostwhite;
  padding: 5px;
  gap: 5px;
}

.tablet .game_contents {
  border: 5px solid #2f2f2f;
}

.tablet .game_contents.random {
  border: 5px solid orangered;
}

.tablet .game_cards {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tablet .casino_start:hover {
  background-color: #FFBF00;
  transform: scale(110%);
}

.tablet .wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.tablet.landscape .wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.tablet .wrapper .pop-up {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.tablet .winningMessage {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  color: white;
  padding: 10px;
}

.tablet .close-btn {
  border-radius: 12px;
  padding: 4px 4px;
  height: auto;
  width: fit-content;
  min-width: 150px;
  margin: 10px auto;
  background-color: rgb(255, 255, 0);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  border: none;
}

.tablet .close-btn:hover {
  background-color: #FFBF00;
  transform: scale(110%);
}