.tablet .navbar {
    max-height: 5%;
}


.tablet .navbar_wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #0e0d00;
}

.tablet #navbar_logo {
    cursor: pointer;
    width: 20%;
    max-width: 80px;
    height: max-height;
}

.tablet #navbar_logo .logo {
    height: 100%;
    width: 100%;
}

.tablet .menu {
    cursor: pointer;
    margin: auto 2%;
    order: 3;
    width: 15%;
    max-width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tablet .menu_items {
    background-color: yellow;
    margin: 2px 5px;
    width: auto;
    height: 8px;
    border-radius: 10%;
}

.tablet .pages_wrapper {
    border-top: 1px solid yellow;
    border-radius: 0% 0% 10% 10%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 50%;
    top: 100%;
    right: 2%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    min-height: 300px;
    box-shadow:
        -4px 0 6px -2px grey,
        4px 0 6px -2px grey,
        0 4px 6px -2px grey;
}

.tablet .pages_wrapper .pages {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    height: 50px;

}

.tablet .pages_wrapper .pages:hover .pages_links {
    color: yellow;
}

.tablet .pages_wrapper .pages .pages_links {
    padding: 0 30px;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: white;
}

.tablet .contact_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet .contact {
    width: 500px;
    height: 500px;
    background-color: #0e0d00;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 0 0 20px 5px grey;
}

.tablet .contact h1 {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font: 500;
}

.tablet .contact_details {
    display: flex;
    flex-direction: column;
}

.tablet .contact_details h2 {
    margin: 0 auto;
    padding: 10px;
    color: white;
    font: 500;
}

.tablet .contact_details address p {
    color: white;
    font: 500;
    padding: 10px;
}

.tablet .contact_details address p a {
    text-decoration: none;
}

.tablet .contact_details address p a:hover {
    text-decoration: underline;
}

.tablet .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    align-self: center;
    margin: auto;
}

.tablet .map h2 {
    padding: 20px 0px;
}